h1,
p,
div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: blue;
    background-color: aqua;
    padding: 2rem;
    border: 2px solid black;
}

h1,
p {
    text-align: center;
    text-decoration: underline;
}