div p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: aquamarine;
    color: blue;
    text-decoration: solid;
    padding: 2rem;
}