* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 "Lato", Verdana, sans-serif;
}
body {
  font: inherit;
  background: #EEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article {
    font-family: 'Courier New', Courier, monospace;
}

article p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blue {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}