body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header, footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

nav {
    background-color: #444444;
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    color: #000000;
}

.section {
    background-color: #f4f4f4;
    border: 1px solid #dbdbdb;
}

@media (max-width: 599.5px) {
    body {
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.6em;
    }

    header, footer{
        padding: 1em;
        margin-bottom: 1em;
    }

    footer {
        font-size: 1em;
        margin-top: 1em;
    }
    
    nav {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .section{
        text-align: center;
        padding: 1.5em 1em;
        margin: 0 1em;
    }
}

@media (min-width: 600px) and (max-width: 899.5px) {
    body {
        font-size: 1.6em;
    }

    header{
        font-size: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

    h1 {
        font-size: 1.4em;
    }

    footer {
        font-size: 0.8em;
        margin-top: 1em;
        padding: 1em;
    }
    
    nav {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .section{
        text-align: center;
        padding: 1em;
        margin: 0 1em;
    }
}

@media (min-width: 900px) and (max-width: 1399.5px) {

    body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr auto 1fr;
    }

    header {
        grid-area: 1 / 2 / 2 / 3;
    }

    nav {
        grid-area: 1 / 1 / 4 / 2;
        text-align: center;
        display: inline-block;
        padding-top: 1em;
        width: 250px;
    }

    nav a {
        display: inline-block;
        padding: 0 0.5em;
    }

    .container {
        grid-area: 2 / 2 / 3 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        margin: 1em 1em 1em 0;
    }

    .section {
        text-align: center;
        padding: 1em;
    }

    footer {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media (min-width: 1400px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.8em;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
    nav a {
        display: inline-block;
        padding: 0.5em;
    }

    nav a:hover {
        text-decoration: underline;
        color: #008000;
        transition: 0.4s;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;
    }

    .section {
        padding: 1em;
        text-align: center;
        margin: 1em 0.5em;
    }

}
