body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    padding: 10px;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    background-color: #f4f4f4;
    padding: 10px;
}

.box {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

@media (min-width: 599px) and (max-width: 1200px) {
    body {
        font-size: 1.3em;
    }
    .container {
        padding: 10px 0;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (min-width: 1200.5px) {
    body {
        font-size: 2em;
    }

    .container {
        padding: 10px 0;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 599.5px) {

    body {
        font-size: 1.2em;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 0;
    }
}